{% extends 'award/base.html' %} 
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container" style="width: 50%; margin-left: auto; margin-right: auto;">
    <h3>Your search results:</h3>
    <small><a href="/" class="btn btn-outline-secondary">back</a></small>

    <div class="row">

     {% if display %}
      {% for i in display %}
    <div class="row justify-content-center">

        <div class="col">
            <div class="card my-2">
                <h4 align=center> {{i.title}} </h4>
                <img class="image-thumbail" src="{{i.image.url}}" height="500px" alt="image">
                <div class="card-body">
                    <p>{{i.description}}</p>
                    <small>Posted: {{i.posted_on}} </small>
                    <p></p>
                </div>
            </div>
          </div>
    </div>
      {% endfor %}

    {% else %}
    <p> {{message}} </p>
    {% endif %}
    </div>
</div>
{% endblock %}
